{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended", "prettier"],
  "plugins": ["jsx-a11y", "prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "env": { "browser": true, "serviceworker": true },
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "arrow-body-style": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-no-bind": "off",
    "react/no-array-index-key": "warn",
    "react/jsx-filename-extension": [
      2,
      { "extensions": [".js", ".jsx", ".tsx"] }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": ["function-declaration", "arrow-function"],
        "unnamedComponents": "arrow-function"
      }
    ],
    "import/extensions": [
      2,
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-restricted-imports": [
      2,
      {
        "patterns": ["../*"]
      }
    ]
  }
}
